@charset "UTF-8";

/* Typical Device Breakpoint
Pequenas Telas: < 576px
Celular: 576px – 767px
Tablet: 768px – 991px
Desktop: 992px – 1199px
Grandes Telas: >= 1200px
*/

@media screen and (min-width: 768px) {
    span#burger {
        display: none;
    }

    menu {
        display: block;
    }

    menu > ul > li {
        display: inline-block;
    }

    main {
        width: 768px;
    }
}